nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  height: 7rem;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  height: 5.1rem;
}

.login-link {
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  background-color: var(--blue);
  border-radius: 8px;
  padding: 1.2rem 2.3rem;
}

.top-section,
.bottom-section {
  margin-top: 7rem;
  background-color: #cfe5ff;
  height: 54rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.bottom-section {
  margin-top: 13.8rem;
}

.top-section img {
  width: 74.6rem;
  height: 34rem;
}

.bottom-section img {
  width: 74.6rem;
  height: 39.7rem;
}

.top-section-container {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.bottom-section-container {
  display: flex;
  align-items: center;
  gap: 6.9rem;
}

.top-section-text,
.bottom-section-text {
  padding-bottom: 6rem;
}

.top-section-text p,
.bottom-section-text p {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  color: var(--gray700);
}

.top-section-text a {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  background-color: var(--blue);
  padding: 1.6rem 12.4rem;
  border-radius: 40px;
  margin-top: 3.2rem;
  display: inline-block;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13.8rem 0;
}

.hot-item,
.search,
.register {
  display: flex;
  align-items: center;
  gap: 6.4rem;
  background-color: #fcfcfc;
  border-radius: 1.2rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.hot-item .text-container,
.register .text-container {
  padding-right: 2.4rem;
}

.search .text-container {
  padding-left: 2.4rem;
}

.small-text {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 5.6rem;
  color: var(--blue);
}

.big-text {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  color: var(--gray700);
}

.main-section p {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.2rem;
  margin-top: 1rem;
  color: var(--gray700);
}

.main-section img {
  width: 57.9rem;
  height: 44.4rem;
}

footer {
  background-color: var(--gray900);
  height: 160px;
  padding: 32px 400px;
  display: flex;
  justify-content: space-between;
}

.codeit {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--gray400);
}

.footer-center {
  display: flex;
  gap: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--gray200);
}

.footer-right a {
  margin-right: 12px;
}

.footer-right a:last-child {
  margin: 0;
}

.footer-right img {
  width: 20px;
  height: 20px;
}

/* Tablet: 768px 이상 ~ 1199px 이하 */
@media screen and (max-width: 1199px) {
  html {
    font-size: 8px;
  }

  nav {
    padding: 0 24px;
  }

  .top-section {
    height: 95rem;
  }

  .top-section-container {
    flex-direction: column;
    gap: 20rem;
  }

  .top-section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top-section img,
  .bottom-section img {
    height: auto;
    width: 93rem;
  }

  .top-section p br,
  .big-text br {
    display: none;
  }

  .main-section {
    padding: 3.25rem;
  }

  .main-section img {
    width: 85rem;
    height: auto;
  }

  .hot-item,
  .register {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .search {
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 0;
  }

  .search .text-container {
    align-items: flex-end;
  }

  .search .text-container p {
    text-align: end;
  }

  .bottom-section {
    height: 115rem;
    margin-top: 3.25rem;
  }

  .bottom-section-container {
    flex-direction: column;
    gap: 20rem;
  }

  .bottom-section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer {
    padding: 4rem 13rem;
  }
}

/* Mobile: 375px 이상 ~ 767px 이하 */
@media screen and (max-width: 767px) {
  html {
    font-size: 6px;
  }

  nav {
    padding: 0 16px;
  }

  .top-section {
    height: 95rem;
  }

  .top-section-container {
    flex-direction: column;
    gap: 20rem;
  }

  .top-section-text {
    text-align: center;
  }

  .top-section p br {
    display: inline;
  }

  .top-section img,
  .bottom-section img {
    height: auto;
    width: 93rem;
  }

  .main-section {
    padding: 3.25rem;
  }

  .main-section img {
    width: 85rem;
    height: auto;
  }

  .bottom-section {
    height: 115rem;
    margin-top: 3.25rem;
  }

  .bottom-section-container {
    flex-direction: column;
    gap: 20rem;
  }
}
