nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  height: 51px;
}

.login-link {
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  background-color: var(--blue);
  border-radius: 8px;
  padding: 12px 23px;
}

.top-section,
.bottom-section {
  margin-top: 70px;
  background-color: #cfe5ff;
  height: 540px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.bottom-section {
  margin-top: 138px;
}

.top-section img {
  width: 746px;
  height: 340px;
}

.bottom-section img {
  width: 746px;
  height: 397px;
}

.top-section-container {
  display: flex;
  align-items: center;
  gap: 7px;
}

.bottom-section-container {
  display: flex;
  align-items: center;
  gap: 69px;
}

.top-section-text,
.bottom-section-text {
  padding-bottom: 60px;
}

.top-section-text p,
.bottom-section-text p {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  color: var(--gray700);
}

.top-section-text a {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  background-color: var(--blue);
  padding: 16px 124px;
  border-radius: 40px;
  margin-top: 3.2rem;
  display: inline-block;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 138px 0;
}

.hot-item,
.search,
.register {
  display: flex;
  align-items: center;
  gap: 64px;
  background-color: #fcfcfc;
  border-radius: 12px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hot-item .text-container,
.register .text-container {
  padding-right: 24px;
}

.search .text-container {
  padding-left: 24px;
}

.small-text {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 5.6rem;
  color: var(--blue);
}

.big-text {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  color: var(--gray700);
}

.main-section p {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.2rem;
  margin-top: 1rem;
  color: var(--gray700);
}

.main-section img {
  width: 579px;
  height: 444px;
}

footer {
  background-color: var(--gray900);
  height: 160px;
  padding: 32px 400px;
  display: flex;
  justify-content: space-between;
}

.codeit {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--gray400);
}

.footer-center {
  display: flex;
  gap: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--gray200);
}

.footer-right a {
  margin-right: 12px;
}

.footer-right a:last-child {
  margin: 0;
}

.footer-right img {
  width: 20px;
  height: 20px;
}

/* Tablet: 768px 이상 ~ 1199px 이하 */
@media screen and (max-width: 1199px) {
  html {
    font-size: 8px;
  }

  nav {
    padding: 0 24px;
  }

  .top-section {
    height: 771px;
  }

  .top-section-container {
    flex-direction: column;
    gap: 141px;
  }

  .top-section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top-section img,
  .bottom-section img {
    height: auto;
    width: 744px;
  }

  .top-section p br,
  .big-text br {
    display: none;
  }

  .main-section {
    padding: 26px;
  }

  .main-section img {
    width: 696px;
    height: auto;
  }

  .hot-item,
  .register {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .search {
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 0;
  }

  .search .text-container {
    align-items: flex-end;
  }

  .search .text-container p {
    text-align: end;
  }

  .bottom-section {
    height: 927px;
    margin-top: 26px;
  }

  .bottom-section-container {
    flex-direction: column;
    gap: 160px;
  }

  .bottom-section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer {
    padding: 32px 104px;
  }
}

/* Mobile: 375px 이상 ~ 767px 이하 */
@media screen and (max-width: 767px) {
  html {
    font-size: 6px;
  }

  nav {
    padding: 0 16px;
  }

  .top-section {
    height: 540px;
  }

  .top-section-container {
    flex-direction: column;
    gap: 62px;
  }

  .top-section-text {
    text-align: center;
  }

  .top-section p br {
    display: inline;
  }

  .top-section-text a {
    padding: 12px 71px;
  }

  .top-section img {
    height: auto;
    width: 448px;
  }

  .bottom-section img {
    height: auto;
    width: 375px;
  }

  .main-section {
    padding: 20px;
  }

  .main-section img {
    width: 344px;
    height: auto;
  }

  .bottom-section {
    height: 540px;
    margin-top: 3.25rem;
  }

  .bottom-section-container {
    flex-direction: column;
    gap: 61px;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3개 열 생성 */
    grid-template-rows: auto auto; /* 두 개의 행 */
    gap: 10px; /* 요소 간 간격 */
    padding: 32px;
  }

  .codeit {
    grid-column: 1 / -1; /* 첫 번째 아이템은 한 줄 전체 차지 */
    grid-row: 2;
    align-self: end;
  }

  .footer-center {
    grid-column: 1;
  }

  .footer-right {
    grid-column: 2;
    justify-self: end;
  }
}
